{% extends 'layout.html' %}
{% block sidebar %}
<title>API Checker</title>
      <!-- Include necessary CSS and JavaScript libraries -->
      <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
      <link href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap4.min.css" rel="stylesheet">
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
      <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
      <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap4.min.js"></script>
      <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.2.2/css/buttons.dataTables.min.css">
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
      <!-- Add any additional styling or scripts -->
    <link rel="stylesheet" type="text/css" href="static/css/common.css">
    <script src="static/js/common.js"></script>
         <label for="application-select">Select Application:</label>
         <select id="app-dropdown" class="form-control">
            <option value="">Select Application</option>
            {% for app in app_config.applications %}
            <option value="{{ url_for('static', filename=app.file) }}">{{ app.name }}</option>
            {% endfor %}
         </select>
		  <br>
		  <label for="iteration-count">Iteration Count:</label>
		  <input type="number" style="width:100%;height:35px;" id="iteration-count" name="iteration-count" value="1">
		  <br>
		  <br/>
		   <div class="btn-group" role="group" style="width:100%">
			  <input type="button" id="submit-btn" value="Submit" class="btn btn-primary">
			  <input type="button" id="reset-btn" value="Reset" class="btn btn-secondary" style="margin-left: 10px;">
		   </div>

		  <br>
		  <br>
		  <br/>
			   <div class="panel" >
				   <p>Overall Report - </p>

				  <div id="passed-count"><strong>Passed all:</strong> <span id="passed-count-value"></span></div>
				  <div id="failed-at-least-once-count"><strong>Failed at least one:</strong> <span id="failed-at-least-once-count-value"></span></div>
				  <div id="failed-all-count"><strong>Failed all:</strong> <span id="failed-all-count-value"></span></div>
			   </div>
      </div>
              {% endblock %}

      {% block content %}

		  <input type="button" id="export-btn" style="position: relative; float: right; margin-top: 10px; margin-right: 10px;" value="Export to CSV" class="btn btn-secondary">

         <br>
         <div id="loader-overlay">
            <div class="loader"></div>
         </div>
         <table class="table table-striped table-bordered" id="service-table">
            <thead>
               <tr>
                  <th>
                     <input type="checkbox" id="select-all">
                  </th>
                  <!-- Select All checkbox -->
                  <th>Service Name</th>
                  <th>Operation Name</th>
                  <th>Status</th>
                  <th>Status Description</th>
                  <!-- New column for Status Description -->
                  <th>Description</th>
                  <th>Info</th>
                  <th style="display:none">Result</th>
                  <th style="display: none;">Request Executed</th>
                  <!-- New column for result response -->
               </tr>
            </thead>
            <tbody>
               {% for service in services %}
               <tr>
                  <td>
                     <input type="checkbox" name="service" value="{{ service }}">
                  </td>
                  <td>{{ service }}</td>
                  <td>{{ operationName }}</td>
                  <td><img src="" style="width:15px; height:15px;" alt="Status" class="status-icon"></td>
                  <td></td>
                  <td>Description of service</td>
                  <td></td>
                  <td style="display:none"></td>
                  <td style="display:none"></td>
                  <!-- New column for result response -->
               </tr>
               {% endfor %}
            </tbody>
         </table>
         <br>
      </div>
   </body>
   <!--   script for excel download for selective columns on click of export button-->
   <script>

    document.getElementById('export-btn').addEventListener('click', function() {
          var selectedColumns = [1, 2]; // Example: Exporting the specified columns
          var originalTable = $('#service-table').DataTable();
          var rows = [];
          var headers = [];

          // Get the header text for the selected columns
          $('#service-table thead th').each(function(index) {
              if (selectedColumns.includes(index)) {
                  headers.push($(this).text());
              }
          });

          // Add additional headers for status and response
          headers.push('Overall Status', 'Status Description',  'Response', 'Request');

          // Add the header row
          rows.push(headers);

          // Iterate over each page
          originalTable.rows().every(function() {
              var rowData = this.data();
              var rowNode = this.node();
              var checkbox = $(rowNode).find('input[type="checkbox"]');

              // Check if the row is selected
              if (checkbox.prop('checked')) {
                  var newRow = [];
                  for (var i = 0; i < selectedColumns.length; i++) {
                      newRow.push(rowData[selectedColumns[i]]);
                  }

                  // Get the corresponding row details
                  var statusCell = $(rowNode).find('td:nth-child(4)');
                  var statusDescriptionCell = $(rowNode).find('td:nth-child(5)');
                  var responseCell = $(rowNode).find('td:nth-child(8)');
                  var requestCell = $(rowNode).find('td:nth-child(9)');

                  // Add status, status description, and response to the row
                  newRow.push(statusCell.text(), statusDescriptionCell.text(), responseCell.text(),requestCell.text());
                  rows.push(newRow);
              }
          });

          // Create a new table to hold the selected rows
          var newTable = document.createElement('table');
          newTable.style.borderCollapse = 'collapse'; // Collapse borders
          newTable.style.border = '1px solid #000'; // Add border to table

          // Iterate over the selected rows
          for (var i = 0; i < rows.length; i++) {
              var newRow = document.createElement('tr');

              // Iterate over the selected columns
              for (var j = 0; j < rows[i].length; j++) {
                  var originalCell = document.createElement('td');
                  originalCell.innerText = rows[i][j];
                  originalCell.style.verticalAlign = 'middle';
                  originalCell.style.textAlign = 'center';
                  originalCell.style.border = '1px solid #000'; // Add border to cells
                  originalCell.setAttribute('mso-number-format', '\@'); // Set column format as text
                  newRow.appendChild(originalCell);
              }

              newTable.appendChild(newRow);
          }

          // Convert the new table to HTML string
          var tableHtml = newTable.outerHTML;
          var blob = new Blob([tableHtml], {
              type: 'application/vnd.ms-excel'
          });
          var url = window.URL.createObjectURL(blob);
          var a = document.createElement('a');
          a.href = url;
          a.download = 'service-data.xls';
          document.body.appendChild(a);
          a.click();
          document.body.removeChild(a);
      });




   </script>
{% endblock %}
