<!DOCTYPE html>
<html>
   <meta name="viewport" content="width=device-width,initial-scale=1" />
   <head>
      <title>Service Checker</title>
      <!-- Include necessary CSS and JavaScript libraries -->
      <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
      <link href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap4.min.css" rel="stylesheet">
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
      <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
      <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap4.min.js"></script>
      <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.2.2/css/buttons.dataTables.min.css">
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
      <!-- Add any additional styling or scripts -->
      <style>
         #sidebar {
			 height: 100%;
			 width: 250px;
			 position: fixed;
			 top: 50;
			 left: 0;
			 background-color: #5a6370;
			 color: white;
			 padding-top: 30px;
			 padding-left: 10px;
			 padding-right: 10px;
         }
         #sidebar .app-logo {
			 text-align: center;
			 margin-bottom: 20px;
         }
         #sidebar .app-name {
			 text-align: center;
			 margin-bottom: 20px;
			 font-size: 24px;
         }
         #sidebar .welcome-user {
			 text-align: center;
			 margin-bottom: 20px;
			 font-size: 18px;
         }
         #main {
			 margin-left: 250px;
			 padding: 20px;
         }
         .summary-container {
			 display: flex;
			 justify-content: space-between; /* Distribute items evenly */
			 padding: 10px; /* Add padding */
         }
         #count-summary div {
			 flex: 1; /* Each div takes up equal space */
			 padding: 0 10px; /* Add padding between columns */
			 text-align: left; /* Align text to the left */
         }

         .panel {
				border: 1px solid #ddd; /* Border color */
				 border-radius: 10px; /* Rounded corners */
				 box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); /* Box shadow */
				 padding: 10px; /* Padding inside the panel */
			}

			.panel p {
				font-weight: bold;
				margin-bottom: 10px;
			}
         #banner {
			 display: flex;
			 height: 80px;
			 background-color: #1e0440;
			 justify-content: space-between;
			 color:white;
			 align-items: center;
			 padding: 10px;
         }
         .app-logo {
         	padding-left: 10px;
         }
         .app-name {
         	text-align: center;
         }
         .welcome-user {
         	padding-right: 10px;
         }
         #service-table td input[type="checkbox"] {
			 margin: 0 auto;
			 /* Align checkbox horizontally */
			 display: block;
			 /* Ensure checkbox is centered */
			 width: fit-content;
			 /* Adjust width based on content */
         }
         #service-table th input[type="checkbox"] {
			 margin: 0 auto;
			 /* Align checkbox horizontally */
			 display: block;
			 /* Ensure checkbox is centered */
			 width: fit-content;
			 /* Adjust width based on content */
         }
<!--         .panel.panel-default {-->
<!--			 border: 1px solid #ddd; /* Border color */-->
<!--			 border-radius: 10px; /* Rounded corners */-->
<!--			 box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); /* Box shadow */-->
<!--			 padding: 20px; /* Padding inside the panel */-->
<!--         }-->
         .btn-group.pull-right {
         	float: right;
         }
         #loader-overlay {
			 position: fixed;
			 top: 0;
			 left: 0;
			 width: 100%;
			 height: 100%;
			 background-color: rgba(255, 255, 255, 0.7); /* semi-transparent white background */
			 display: none; /* initially hidden */
         }
         .loader {
			 border: 6px solid #f3f3f3; /* Light grey */
			 border-top: 6px solid #3498db; /* Blue */
			 border-radius: 50%;
			 width: 50px;
			 height: 50px;
			 animation: spin 2s linear infinite;
			 position: absolute;
			 top: 50%;
			 left: 50%;
			 transform: translate(-50%, -50%);
         }
         @keyframes spin {
			 0% { transform: rotate(0deg); }
			 100% { transform: rotate(360deg); }
         }
      </style>
      <script>
    var selectedApp = '';
    var targetJson = '';

    $(document).ready(function() {
        var table = $('#service-table').DataTable({
       drawCallback: function(settings) {
           // Hide the last two columns on each page draw
           $(this.api().table().container())
               .find('tbody tr')
               .find('td:nth-last-child(-n+2)')
               .hide();
       },
       autoWidth: false,
       order: [], // Disable initial sorting
       columnDefs: [
           { targets: [0, 3, 4, 6], orderable: false } // Disable sorting for the first column (Select All checkbox)
       ],
       select: true
   });

        // Event handler for "Select All" checkbox
        $('#select-all').change(function() {
            var isChecked = $(this).prop('checked');
            $('#service-table').DataTable().rows().every(function() {
                var rowNode = this.node();
                var checkbox = $(rowNode).find('input[name="service"]');
                checkbox.prop('checked', isChecked);
            });
        });

        // Event handler for individual checkboxes
        $(document).on('change', 'input[name="service"]', function() {
            // Check if all checkboxes are checked
            var allChecked = $('input[name="service"]:checked').length === $('input[name="service"]').length;
            // Update the state of the "Select All" checkbox
            $('#select-all').prop('checked', allChecked);
        });

        // Event handler for the "Select All" checkbox
        $(document).on('change', '#select-all', function() {
            // Update the state of all checkboxes based on the "Select All" checkbox
            $('input[name="service"]').prop('checked', $(this).prop('checked'));
        });

        // Event handler for application select change
        $('#app-dropdown').change(function() {
            // Clear the DataTable
            table.clear().draw();
            // Uncheck the select all checkbox
            $('#select-all').prop('checked', false);
            // Get the selected application name
            selectedApp = $(this).find('option:selected').text();
            $('#passed-count-value').text('');
            $('#failed-at-least-once-count-value').text('');
            $('#failed-all-count-value').text('');
            // Load service details based on selected application
            $.getJSON('/static/config/app_config.json', function(data) {
                targetJson = '';
                // Find the object with the matching application name
                data.applications.forEach(function(app) {
                    if (app.name === selectedApp) {
                        targetJson = app.file; // Set the target JSON file path
                        return false; // Exit the loop once found
                    }
                });
                // Load service details from the target JSON file
                $.getJSON(targetJson, function(serviceData) {
                    // Populate service details in the table
                    $.each(serviceData.entries, function(index, entry) {
                        var overallStatus = entry.overall_status;
                        var passedCount = entry.passed_count;
                        var totalCount = entry.total_iterations;
                        var iterationStatusText = passedCount + ' / ' + totalCount;
                        // Add new row to the table
                        table.row.add([
                            '<input type="checkbox" name="service" value="' + entry.serviceName + ':' + entry.operationName + '">',
                            entry.serviceName,
                            entry.operationName,
                            '', // Placeholder for status icon
                            '', // Placeholder for status description
                            entry.useCase,
                            '<button type="button" style="display:none" class="btn btn-primary show-results-btn">Results</button>',
                            '', // Placeholder for Response info
                            '' //placeholder for Requests
                        ]); // Add new row without redrawing
                    });
                    // Redraw the table
                    table.draw();
                }).fail(function(jqXHR, textStatus, errorThrown) {
                    console.error('Error fetching JSON file:', textStatus, errorThrown);
                });
            });
        });

        // Submit button Logic
        $('#submit-btn').click(function() {
            // Clear the table body
            //$('#service-table tbody').empty();
            // Remove any existing accordion elements
            $('.accordion').empty();
            // Remove any existing accordion elements and modal contents
            $('.accordion').remove();
            $('.modal').remove();
            $('.status-icon').attr('src', ''); // Clear status icons
            $('.status-icon').next('span').remove(); // Remove any existing count
            $('td:nth-child(7)').empty(); // Clear Info column content
            $('td:nth-child(8)').empty(); // Clear Results column content
            $('.status-icon').attr('src', '').removeAttr('title'); // Clear status icons and tooltips
            $('td:nth-child(4)').empty(); // Clear Status column content
            $('td:nth-child(5)').empty(); // Clear Status Description column content
            // Clear previous counts
            $('#passed-count-value').text('');
            $('#failed-at-least-once-count-value').text('');
            $('#failed-all-count-value').text('');
            var selectedServices = [];
            $('#service-table').DataTable().rows().every(function() {
                var rowData = this.data();
                var rowNode = this.node();
                var checkbox = $(rowNode).find('input[type="checkbox"]');
                if (checkbox.prop('checked')) {
                    selectedServices.push(rowData[1] + ':' + rowData[2]); // Concatenate ServiceName and OperationName
                }
            });
            if (selectedServices.length === 0) {
                alert('Please select at least one service to execute.');
                return;
            }
            $('#loader-overlay').show(); // Show the loader overlay
            var iterationCount = $('#iteration-count').val(); // Get the value of iteration count
            var requestData = {
                services: selectedServices,
                targetJson: targetJson,
                iterationCount: iterationCount // Include iteration count in the data
            };
            $.ajax({
                url: '/execute',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(requestData), // Stringify the request data
                success: function(response) {
                    // Calculate counts based on response
                    var passedCount = 0;
                    var failedAtLeastOnceCount = 0;
                    var failedAllCount = 0;
                    $.each(response.responses, function(serviceName, serviceData) {


                        //count for overall report
                        if (serviceData.overall_status === 'GREEN') {
                            passedCount++;
                        } else if (serviceData.overall_status === 'RED') {
                            failedAllCount++;
                        } else if (serviceData.overall_status === 'AMBER') {
                            failedAtLeastOnceCount++;
                        }
                        //populate all rows with relevant details
                        var serviceNameParts = serviceName.split(':'); // Split serviceName:OperationName into parts
                        if (serviceNameParts.length !== 2) {
                            console.error('Invalid service name format:', serviceName);
                            return; // Skip this service if the format is invalid
                        }
                        var actualServiceName = serviceNameParts[0]; // Extract actual serviceName
                        var actualOperationName = serviceNameParts[1]; // Extract actual OperationName
                        $('#service-table').DataTable().rows().every(function(index) {
                            var rowData = this.data();
                            var rowNode = this.node();
                            if (rowData[1] === actualServiceName && rowData[2] === actualOperationName) {
                                var overallStatusCell = $(rowNode).find('td:nth-child(4)');
                                var statusDescriptionCell = $(rowNode).find('td:nth-child(5)');
                                var infoCell = $(rowNode).find('td:nth-child(7)');
                                var resultCell = $(rowNode).find('td:nth-child(8)');
                                // Update overall status
                                var statusColor = "";
                                if (serviceData.overall_status === "GREEN") {
                                    statusColor = "/static/images/green.png";
                                } else if (serviceData.overall_status === "AMBER") {
                                    statusColor = "/static/images/amber.png";
                                } else if (serviceData.overall_status === "RED") {
                                    statusColor = "/static/images/red.png";
                                }
                                overallStatusCell.html('<img src="' + statusColor + '" alt="' + serviceData.overall_status + '">');
                                overallStatusCell.append($('<span>').text(' ' + serviceData.passed_count + ' of ' + serviceData.total_iterations));
                                var requestExecutedCell = $(rowNode).find('td:nth-child(9)');
                                // Update the hidden column with raw requests data
                                 var rawRequests = '';
                                    serviceData.raw_requests.forEach(function(request) {
                                        rawRequests += request.method + ' ' + request.url + '<br/>';
                                        // Include headers
                                        rawRequests += 'Headers: ' + JSON.stringify(request.headers) + '<br/>';
                                        // Include request body for POST calls
                                        if (request.method === 'POST' && request.body) {
                                            rawRequests += 'Request Body: ' + JSON.stringify(request.body) ;
                                        }
                                    });

                                requestExecutedCell.html(rawRequests);

                                requestExecutedCell.hide(); // Hide the cell
                                // Update status description
                                statusDescriptionCell.empty();
                                $.each(serviceData.status_descriptions, function(index, description) {
                                    statusDescriptionCell.append('<div>Iteration ' + (index + 1) + ': ' + description + '</div>');
                                });
                                // Update "Show Results" button
                                infoCell.html('<button type="button" class="btn btn-info show-results-btn" data-toggle="modal" data-target="#modal-' + actualServiceName + '">Results</button>');
                                // Update result cell
                                resultCell.empty();
                                $.each(serviceData.responses, function(index, iterationResponse) {
                                    var iterationNumber = index + 1;
                                    var iterationStatus = iterationResponse.status === 'PASS' ? 'PASS' : 'FAIL';
                                    // Replace newline characters with HTML line breaks
                                    var responseContent = iterationResponse.response; //.replace(/\n/g, '<br>');
                                     resultCell.append('<div>Iteration ' + iterationNumber + ' - ' + iterationStatus + '</div><div>' + responseContent + '</div>');
                                 });
                                var accordionContainer = $('<div class="accordion" id="accordion-' + actualServiceName + '">');
                                $.each(serviceData.responses, function(index, iterationResponse) {
                                    var iterationNumber = index + 1;
                                    var iterationStatus = iterationResponse.status === 'PASS' ? 'PASS' : 'FAIL';
                                    accordionContainer.append(
                                        '<div class="card">' +
                                        '<div class="card-header">' +
                                        '<h2 class="mb-0">' +
                                        '<button class="btn btn-link" type="button" data-toggle="collapse" ' +
                                        'data-target="#collapse-' + actualServiceName + '-' + iterationNumber + '">' +
                                        'Iteration ' + iterationNumber + ' - ' + iterationStatus +
                                        '</button>' +
                                        '</h2>' +
                                        '</div>' +
                                        '<div id="collapse-' + actualServiceName + '-' + iterationNumber + '" class="collapse" ' +
                                        'aria-labelledby="heading-' + actualServiceName + '-' + iterationNumber + '" ' +
                                        'data-parent="#accordion-' + actualServiceName + '">' +
                                        '<div class="card-body">' +
                                        iterationResponse.response +
                                        '</div>' +
                                        '</div>' +
                                        '</div>'
                                    );
                                });
                                var modalContent = $('<div class="modal fade" id="modal-' + actualServiceName + '">').append(
                                    $('<div class="modal-dialog modal-dialog-scrollable modal-lg">').append(
                                        $('<div class="modal-content">').append(
                                            $('<div class="modal-header">').append(
                                                $('<h5 class="modal-title">').text('Results for ' + actualServiceName + ':' + actualOperationName)
                                            ),
                                            $('<div class="modal-body">').append(accordionContainer),
                                            $('<div class="modal-footer">').append(
                                                $('<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>')
                                            )
                                        )
                                    )
                                );
                                $('body').append(modalContent);
                            }
                        });
                    });
                    $('#loader-overlay').hide(); // Hide the loader overlay on success
                    // Update count placeholders
                    $('#passed-count-value').text(passedCount);
                    $('#failed-at-least-once-count-value').text(failedAtLeastOnceCount);
                    $('#failed-all-count-value').text(failedAllCount);
                    // Show success message using SweetAlert
                    Swal.fire({
                        icon: 'success',
                        title: 'Execution completed!',
                        showConfirmButton: false,
                        timer: 1500 // Automatically close after 1.5 seconds
                    });
                },
                error: function(xhr, status, error) {
                    $('#loader-overlay').hide(); // Hide the loader overlay on error
                    // Show error message using SweetAlert
                    Swal.fire({
                        icon: 'error',
                        title: 'Error!',
                        text: 'Error: ' + xhr.responseText
                    });
                }
            });
            // Hide the last column ("Result")
            $('#service-table td:nth-last-child(1)').hide(); // Hide the second-to-last column
            // table.column(-1).visible(false);
        });

        //reset button logic
        $('#reset-btn').click(function() {
            $('input[name="service"]').prop('checked', false); // Uncheck all checkboxes
            // Reset select all checkbox
            document.getElementById("select-all").checked = false;
            $('.status-icon').attr('src', '').removeAttr('title'); // Clear status icons and tooltips
            $('#service-table').DataTable().rows().every(function() {
                var rowNode = this.node();
                $(rowNode).find('td:nth-child(4)').empty(); // Clear Status column content
                $(rowNode).find('td:nth-child(5)').empty(); // Clear Status Description column content
                $(rowNode).find('td:nth-child(7)').empty(); // Clear Info column content
                $(rowNode).find('td:nth-child(8)').empty(); // Clear Results column content
                var checkbox = $(rowNode).find('input[type="checkbox"]');
                checkbox.prop('checked', false);
            });
        });
    });
</script>

   </head>
   <body>
      <div id="banner">
         <!-- Banner content goes here -->
         <div class="app-logo">
            <!-- Logo goes here -->
            <img src="static/images/truist.png" style="width:200px" alt="Logo">
         </div>
         <div class="app-name">
            <!-- Application name goes here -->
            <h1 style="font-size: 36px;">AppHealthWatch - <span style="font-size: 24px;">API Health Check Utility</span></h1>
         </div>
         <div class="welcome-user">
            <!-- Welcome message with username goes here -->Welcome User
         </div>
      </div>
      <div id="sidebar">
         <label for="application-select">Select Application:</label>
         <select id="app-dropdown" class="form-control">
            <option value="">Select Application</option>
            {% for app in app_config.applications %}
            <option value="{{ url_for('static', filename=app.file) }}">{{ app.name }}</option>
            {% endfor %}
         </select>
		  <br>
		  <label for="iteration-count">Iteration Count:</label>
		  <input type="number" style="width:100%;height:35px;" id="iteration-count" name="iteration-count" value="1">
		  <br>
		  <br/>
		   <div class="btn-group" role="group" style="width:100%">
			  <input type="button" id="submit-btn" value="Submit" class="btn btn-primary">
			  <input type="button" id="reset-btn" value="Reset" class="btn btn-secondary" style="margin-left: 10px;">
		   </div>

		  <br>
		  <br>
		  <br/>
			   <div class="panel" >
				   <p>Overall Report - </p>

				  <div id="passed-count"><strong>Passed all:</strong> <span id="passed-count-value"></span></div>
				  <div id="failed-at-least-once-count"><strong>Failed at least one:</strong> <span id="failed-at-least-once-count-value"></span></div>
				  <div id="failed-all-count"><strong>Failed all:</strong> <span id="failed-all-count-value"></span></div>
			   </div>
      </div>
      <div id="main">
		  <input type="button" id="export-btn" style="position: relative; float: right; margin-top: 10px; margin-right: 10px;" value="Export to CSV" class="btn btn-secondary">

         <br>
         <div id="loader-overlay">
            <div class="loader"></div>
         </div>
         <table class="table table-striped table-bordered" id="service-table">
            <thead>
               <tr>
                  <th>
                     <input type="checkbox" id="select-all">
                  </th>
                  <!-- Select All checkbox -->
                  <th>Service Name</th>
                  <th>Operation Name</th>
                  <th>Status</th>
                  <th>Status Description</th>
                  <!-- New column for Status Description -->
                  <th>Description</th>
                  <th>Info</th>
                  <th style="display:none">Result</th>
                  <th style="display: none;">Request Executed</th>
                  <!-- New column for result response -->
               </tr>
            </thead>
            <tbody>
               {% for service in services %}
               <tr>
                  <td>
                     <input type="checkbox" name="service" value="{{ service }}">
                  </td>
                  <td>{{ service }}</td>
                  <td>{{ operationName }}</td>
                  <td><img src="" style="width:15px; height:15px;" alt="Status" class="status-icon"></td>
                  <td></td>
                  <td>Description of service</td>
                  <td></td>
                  <td style="display:none"></td>
                  <td style="display:none"></td>
                  <!-- New column for result response -->
               </tr>
               {% endfor %}
            </tbody>
         </table>
         <br>
      </div>
   </body>
   <!--   script for excel download for selective columns on click of export button-->
   <script>

    document.getElementById('export-btn').addEventListener('click', function() {
          var selectedColumns = [1, 2]; // Example: Exporting the specified columns
          var originalTable = $('#service-table').DataTable();
          var rows = [];
          var headers = [];

          // Get the header text for the selected columns
          $('#service-table thead th').each(function(index) {
              if (selectedColumns.includes(index)) {
                  headers.push($(this).text());
              }
          });

          // Add additional headers for status and response
          headers.push('Overall Status', 'Status Description',  'Response', 'Request');

          // Add the header row
          rows.push(headers);

          // Iterate over each page
          originalTable.rows().every(function() {
              var rowData = this.data();
              var rowNode = this.node();
              var checkbox = $(rowNode).find('input[type="checkbox"]');

              // Check if the row is selected
              if (checkbox.prop('checked')) {
                  var newRow = [];
                  for (var i = 0; i < selectedColumns.length; i++) {
                      newRow.push(rowData[selectedColumns[i]]);
                  }

                  // Get the corresponding row details
                  var statusCell = $(rowNode).find('td:nth-child(4)');
                  var statusDescriptionCell = $(rowNode).find('td:nth-child(5)');
                  var responseCell = $(rowNode).find('td:nth-child(8)');
                  var requestCell = $(rowNode).find('td:nth-child(9)');

                  // Add status, status description, and response to the row
                  newRow.push(statusCell.text(), statusDescriptionCell.text(), responseCell.text(),requestCell.text());
                  rows.push(newRow);
              }
          });

          // Create a new table to hold the selected rows
          var newTable = document.createElement('table');
          newTable.style.borderCollapse = 'collapse'; // Collapse borders
          newTable.style.border = '1px solid #000'; // Add border to table

          // Iterate over the selected rows
          for (var i = 0; i < rows.length; i++) {
              var newRow = document.createElement('tr');

              // Iterate over the selected columns
              for (var j = 0; j < rows[i].length; j++) {
                  var originalCell = document.createElement('td');
                  originalCell.innerText = rows[i][j];
                  originalCell.style.verticalAlign = 'middle';
                  originalCell.style.textAlign = 'center';
                  originalCell.style.border = '1px solid #000'; // Add border to cells
                  originalCell.setAttribute('mso-number-format', '\@'); // Set column format as text
                  newRow.appendChild(originalCell);
              }

              newTable.appendChild(newRow);
          }

          // Convert the new table to HTML string
          var tableHtml = newTable.outerHTML;
          var blob = new Blob([tableHtml], {
              type: 'application/vnd.ms-excel'
          });
          var url = window.URL.createObjectURL(blob);
          var a = document.createElement('a');
          a.href = url;
          a.download = 'service-data.xls';
          document.body.appendChild(a);
          a.click();
          document.body.removeChild(a);
      });




   </script>
</html>