{% extends 'layout.html' %}
  {% block sidebar %}
        {% endblock %}
{% block content %}

<link rel="stylesheet" type="text/css" href="static/css/common.css">
    <script src="static/js/common.js"></script>

    <div class="container">
        <h1 class="mt-5">Upload Configuration File</h1>

        <form id="upload-form" enctype="multipart/form-data" action="/upload" method="post" class="mt-3">
            <div class="custom-file mb-3">
                <input type="file" class="custom-file-input" id="file" name="file" accept=".json">
                <label class="custom-file-label" for="file">Choose File</label>
            </div>
            <button type="submit" class="btn btn-primary">Upload</button>
        </form>

        <div id="message" class="mt-3"></div>

        <hr>

        <h2 class="mt-5">Download Templates</h2>
        <p><a href="/static/config/template.json" download class="btn btn-info">Download Template JSON</a></p>
        <p><a href="/static/config/config.json" download class="btn btn-info">Download Most Recent JSON</a></p>
    </div>



    <script>
        // Script for updating custom file input label with selected file name
        document.getElementById('file').addEventListener('change', function() {
            var fileName = this.files[0].name;
            var label = document.querySelector('.custom-file-label');
            label.textContent = fileName;
        });

        // Script for form submission and handling response
        document.getElementById('upload-form').addEventListener('submit', function(e) {
            e.preventDefault();
            var formData = new FormData();
            formData.append('file', document.getElementById('file').files[0]);

            fetch('/upload', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    Swal.fire({
                        icon: 'success',
                        title: 'Success',
                        text: data.message
                    });
                } else if (data.status === 'error') {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: data.message
                    });
                }
            })
            .catch(error => {
                console.error('Error:', error);
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'An error occurred. Please try again.'
                });
            });
        });
    </script>
{% endblock %}
